[submodule "godot-cpp"]
    path = godot-cpp
    url = https://github.com/godotengine/godot-cpp.git
[submodule "src/recastnavigation"]
    path = src/recastnavigation
    url = https://github.com/recastnavigation/recastnavigation.git
[submodule "src/RVO2-3D"]
    path = src/RVO2-3D
    url = https://github.com/snape/RVO2-3D.git
