[submodule "godot-cpp"]
    path = godot-cpp
    url = https://github.com/godotengine/godot-cpp.git
    
[submodule "src/recastnavigation"]
    path = src/recastnavigation
    url = https://github.com/recastnavigation/recastnavigation.git
